section{
  text-align:center;
  padding:80px 20px;
}

h2{
  font-size:18px;
  font-weight:400;
}

p{
  font-size:10px;
}

button{
  background:#FFD54F;
  color:#FFFFFF;
  border:none;
  padding:14px 28px;
}
